/* this is the font which I use */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500
}
/* global classes */
.flex{
    display: flex;
}
.text-header{
    text-align: center;
    font-weight: 700;
    font-size: 60px;
}
.card-title{
    font-size: 30px;
    margin: 10px 0px;
    text-align: center;
}
.card-btn{
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    background-color: #fcf6d8;
}
/* the nav section start */
.nav-section{
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 30px;
    width: 95%;
    font-weight: 400;
    margin-bottom: 50px;
}
.nav-options{
    gap: 50px;
}
ul li{
    list-style: none;
    font-size: 18px;
    padding: 5px;
}
ul li:hover{
    border-bottom: 2px solid black;
}
/* the end of nav section and start of banner section */
.banner{
    display: flex;
    justify-content: center;

}
.banner img{
    width: 95%;
    display: flex;
    justify-content: center;
}
/* the start of card section */
.season-collections{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.card-area{
    justify-content: space-around;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}